.content
	background rgba(0, 0, 0, .05)
	font-family 'PT Sans', sans-serif
	width 722px
	margin 0 auto
	height 100%

.header
	height 57px
	padding 0 22px

.imageloaded
	opacity 0

._faded
	opacity 1
	-webkit-transition opacity 1s linear .2s
	-moz-transition opacity 1s linear .2s
	-o-transition opacity 1s linear .2s
	transition opacity 1s linear .2s

.offers
	width 716px
	margin 0 auto
	opacity .9
	&__item
		background: #fff url("../images/spinner.gif") no-repeat center
		overflow hidden
	&__image
		height 100%
	&__contractor-ico
		position absolute
		background #8D8787
		width 50px
		height 50px
		border-radius 50%
		top 10px
		left 15px
	&__contractor
		padding 10px 0
		padding-left 76px
		&._not-ico
			padding-left 10px
	&__caption
		position absolute
		bottom 0
		left 0
		background rgba(0, 0, 0, 0.8)
		width 100%
		color #fff
		min-height 16%;
	&__contractor-name
		font 400 17px 'PT Sans'
		line-height 36px
		margin 0
	&__title
		margin 0
		font 400 14px 'PT Sans'
	&__photos
		position absolute
		top 10px
		right 0
		width 60px
		padding-left 24px
		height 27px
		line-height 27px
		&:before
			content ''
			display block
			sprite($fotik)
			position absolute
			top 6px
			left 0
	&__confirmed
		sprite($galochka)
		display inline-block
		margin-left 10px
