doctype html
.offers__item(
data-gridster-item
data-size-x='{{position[$index % 10].size.x}}'
data-size-y='{{position[$index % 10].size.y}}'
ng-repeat='item in results'
title='{{ item.title }}')
	.offers__image
		img.imageloaded(height=100 ng-if='$index % 10 === 0' src='https://staging.remontnik.ru/{{ item.images[0].image_large }}' alt='')
		img.imageloaded(height=100 ng-if='$index % 10 === 5 || $index % 10 === 7' src='https://staging.remontnik.ru/{{ item.images[0].image_medium }}' alt='')
		img.imageloaded(height=100 ng-if='$index % 10 !== 5 && $index % 10 !== 7 && $index % 10 !== 0' src='https://staging.remontnik.ru/{{ item.images[0].image_small }}' alt='')
	.offers__caption
		span.offers__contractor-ico(ng-if='$index % 10 === 0')
		.offers__contractor(data-ng-class='$index % 10 !== 0 && "_not-ico"')
			h2.offers__contractor-name(ng-if='$index % 10 === 0 || $index % 10 === 5') {{ item.contractor.full_name }}
				span.offers__confirmed(ng-if='item.contractor.is_documents_confirmed')
			h3.offers__title {{ item.title }}
		span.offers__photos(ng-if='$index % 10 === 0')
			| {{ item.images.length }}
